#pizza {
    display: flex;
    width: 1300px;
    gap: 32px;
    flex-flow: row wrap;
    margin-top: 50px;
}
    .title {
        display: flex;
        width: 100%;
    }
    .listImgSnaks, .listImgDrinks, .listImgDessert, .listImgOtherGoods {
        width: 301px;
    }
        .imgPizza, .imgSnaks, .imgDessert, .imgDrinks, .imgOtherGoods {
            width: 301px;
        }
        .pizzaSubtitle, .snaksSubtitle, .dessertSubtitle, .otherGoodsSubtitle, .drinksSubtitle  {
            width: 301px;
        }
            .priceLeft .priceRigth {
                display: inline-block;
                width: 301px;
            }
            .priceLeft {
                float: left;
            }
            .priceRigth {
                float: right;
            }

@media (max-width: 1300px) {
    #pizza {
        width: 1100px;
    }
    .imgPizza, .imgSnaks, .imgDessert, .imgDrinks, .imgOtherGoods  {
        width: 251px;
    }
    .listImgSnaks, .listImgDrinks, .listImgDessert, .listImgOtherGoods  {
        width: 251px;
    }
    .pizzaSubtitle, .snaksSubtitle, .dessertSubtitle, .otherGoodsSubtitle, .drinksSubtitle   {
        width: 251px;
    }
    .priceLeft .priceRigth {
        width: 251px;
    }
}
@media (max-width: 1100px) {
    #pizza {
        width: 900px;
    }
    .listImgSnaks, .listImgDrinks, .listImgDessert, .listImgOtherGoods   {
        width: 201px;
    }
    .imgPizza, .imgSnaks, .imgDessert, .imgDrinks, .imgOtherGoods {
        width: 201px;
    }
    .pizzaSubtitle, .snaksSubtitle, .dessertSubtitle, .otherGoodsSubtitle, .drinksSubtitle   {
        width: 201px;
    }
    .priceLeft .priceRigth {
        width: 201px;
    }
}
@media (max-width: 900px) {
    #pizza {
        width: 700px;
    }
    .imgPizza, .imgSnaks, .imgDessert, .imgDrinks, .imgOtherGoods  {
        width: 334px;
    }
    .listImgSnaks, .listImgDrinks, .listImgDessert, .listImgOtherGoods  {
        width: 334px;
    }
    .pizzaSubtitle, .snaksSubtitle, .dessertSubtitle, .otherGoodsSubtitle, .drinksSubtitle   {
        width: 334px;
    }
    .priceLeft .priceRigth {
        width: 334px;
    } 
}
@media (max-width: 700px) {
    #pizza {
        display: flex;
        /* width: 500px; */
    }
    .imgPizza, .imgSnaks, .imgDessert, .imgDrinks, .imgOtherGoods  {
        display: inline-block;
        float: left;
        width: 300px;
    }
    .rowContent {
        display: inline-block;
        float: right;
        width: 400px;
    }
    .pizzaSubtitle, .snaksSubtitle, .dessertSubtitle, .otherGoodsSubtitle, .drinksSubtitle {
        text-align: center;
        width: 650px;
    }
    .priceLeft .priceRigth {
        width: 334px;
    } 
}

