#pizza {
    display: flex;
    gap: 31px;
    flex-flow: row wrap;
    margin-top: 50px;
}
    .contentTitle {
        width: 100%;
    }
    .listContentImg {
        width: 301px;
    }
        .contentSingleImg {
            width: 301px;
        }
        .contentRowSubtitle, .contentRowTitle {
            width: 300px;
        }
            .priceLeft .priceRigth {
                display: inline-block;
                width: 301px;
            }
            .priceLeft {
                float: left;
            }
            .priceRigth {
                float: right;
            }

@media (max-width: 1300px) {
    .listContentImg  {
        width: 251px;
    }
    .contentSingleImg {
        width: 251px;
    }
    .contentRowTitle, .contentRowSubtitle  {
        width: 251px;
    }
    .priceLeft .priceRigth {
        width: 251px;
    }
}
@media (max-width: 1100px) {
    .listContentImg  {
        width: 201px;
    }
    .contentSingleImg {
        width: 201px;
    }
    .contentRowTitle, .contentRowSubtitle {
        width: 201px;
    }
    .priceLeft .priceRigth {
        width: 201px;
    }
}
@media (max-width: 900px) {
    .contentSingleImg  {
        width: 334px;
    }
    .listContentImg {
        width: 334px;
    }
    .contentRowSubtitle {
        width: 334px;
    }
    .priceLeft .priceRigth {
        width: 334px;
    } 
}
@media (max-width: 700px) {
    .contentTitle {
        display: none;
        /* width: 600px; */
    }
    .listContentImg {
        display: inline-block;
        float: left;
        width: 200px;
    }
    .contentSingleImg {
        display: inline-block;
        float: left;
        width: 200px;
    }
    .rowContent {
        display: inline-block;
        float: right;
        width: 200px;
    }
    .contentRowTitle {
        font-size: 15px;
    }
    .contentRowSubtitle {
        width: 100px;
        font-size: 14px;
    }
    .priceLeft .priceRigth {
    } 
    
    
}

