#topHeader {
    display: inline-block;
    margin-top: 20px;
}
    .headerTitle, .phoneNumber, .phoneTitle {
        display: inline-block;
        margin-top: 20px;
    }

    .remove{
       display: none;
    }