.carousel {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
}
    .carousel > .content {
        display: inline-block;
        position: relative;
        width: 100%;
}
        .carousel > .content > .listImg {
            display: inline-block;
            transition: all 1.5s;

        }
            .carousel > .content > .listImg > .singleImg {
                display: inline-block;
                width: calc(100% / 10);
                float: left;
                margin-top: 30px;

            }
            .carousel > .content > .listImg > .singleImg > .spacing {
                display: inline-block;
                float: left;
            }
                .carousel > .content > .listImg > .singleImg > .spacing > * {
                    display: inline-block;
                    width: 100%;
                    float: left;
                }



    .imgList {
        padding: 15px;
        text-align: center;
    
    }
            .img {
                border-radius: 20px;
            }

        .carousel> .action {
            text-align: center;
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            cursor: pointer;
            visibility: hidden;
        }
        .carousel > .action > .dot  {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin: 5px;
            border-radius: 50%;
            background-color: #555555;
            
        }
            .carousel > .action > .dot:hover  {
                cursor: pointer;
                background-color: red;
                width: 19px;
                height: 19px;
                margin: 3px;
            }
            .carousel > .action > .dot.active  {
                cursor: pointer;
                background-color: red;
                width: 19px;
                height: 19px;
                margin: 3px;
            }

            #introImg:hover .action {
                visibility: visible;
            }